extends layout

block content
  .ui.container.centered.vertical-center
    .ui.huge.center.aligned.main.icon.inverted.header
      i.massive.yellow.code.splash.icon
      .splash.content Hackathon Simulator
      .main.splash.sub.header Ever wonder what it's like to organize or attend a hackathon?
      br
      a.ui.huge.spaced-right.inverted.yellow.button(href='#', data-tooltip="Coming soon!", data-position="bottom center", data-inverted="") Let's Get Hacking
      a.ui.huge.inverted.yellow.button(href='/organize') Let's Get Organizing